@import url('https://fonts.googleapis.com/css?family=Cherry+Cream+Soda|&display=swap');
html {
  box-sizing: border-box;
  background: rgb(232,133,198);
  background: linear-gradient(90deg, rgba(232,133,198,1) 0%, rgba(174,64,187,1) 25%, rgba(147,156,215,1) 50%, rgba(152,206,216,1) 75%, rgba(247,239,141,1) 100%);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  font-family: 'Cherry Cream Soda', cursive;
  background: linear-gradient(90deg, rgba(247,239,141,1)0%, rgba(232,133,198,1) 25%, rgba(174,64,187,1) 50%, rgba(147,156,215,1) 75%, rgba(152,206,216,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 3em;
  position: fixed;
  top: -4%;
  left: 5%;
}
.items {
  height: 90vh;
  padding-top: 70px;
  width: 110vw;
  overflow-x: scroll;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  position: relative;
  perspective: 500px;
  font-family: 'Cherry Cream Soda', cursive;
}

.items.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.item {
  width: 20vw;
  height: 65vh;
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 30px;
  line-height: 100px;
  border-radius: 20px;
}
.item p {
  align-self: flex-end;
  color: transparent;
}
.item:nth-child(1) { 
  background: #cc80b1 url(assets/Kimono.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #693798;
  color: #693798;
}
.item:nth-child(2) { 
  background: #c1e9cf url(assets/minty.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #f892b7;
  color: #f892b7;
}
.item:nth-child(3) { 
  background: #e689d0 url(assets/pinkiepie.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #fbebf5;
  color: #fbebf5;
}
.item:nth-child(4) { 
  background: #fdc475 url(assets/sparkleworks.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #f21b78;
  color: #f21b78;
}
.item:nth-child(5) { 
  background: #c1a5d5 url(assets/daisyjo.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #dcc46c;
  color: #dcc46c;
}
.item:nth-child(6) { 
  background: #ffffff url(assets/StrawberrySwirl.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #d2299c;
  color: #d2299c;
  font-size: 25px;
}
.item:nth-child(7) { 
  background: #b2cae6 url(assets/RainbowDash.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #846ac1;
  color: #846ac1;
}
.item:nth-child(8) { 
  background: #ffffff url(assets/SunnyDaze.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #ff9252;
  color: #ff9252;
}
.item:nth-child(9) { 
  background: #e68bd0 url(assets/Sweetberry.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #74dbd7;
  color: #74dbd7;
}
.item:nth-child(10) { 
  background: #c186ca url(assets/Wysteria.png) center no-repeat;
  background-size: 100%;
  box-shadow: inset 0 0 0 10px #e0bbda;
  color: #e0bbda;
}
.item:nth-child(11) { 
  background: #b5b2e1 url(assets/Tinkatinkatoo.png) center no-repeat;
  background-size: 95%;
  box-shadow: inset 0 0 0 10px #d44098;
  color: #d44098;
  font-size: 25px;
}
.item:nth-child(12) { 
  background: #e5bbcf url(assets/Fluttershy.png) center no-repeat;
  background-size: 95%;
  box-shadow: inset 0 0 0 10px #faf2f0;
  color: #faf2f0;
}
.item:nth-child(13) { 
  background: #b9c2cb url(assets/autumn.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #e2d587;
  color: #e2d587;
}
.item:nth-child(14) { 
  background: #d8bd54 url(assets/Butterscotch.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #e5e7d2;
  color: #e5e7d2;
}
.item:nth-child(15) { 
  background: #f1bbd3 url(assets/SpringFever.png) center no-repeat;
  background-size: 90%;
  box-shadow: inset 0 0 0 10px #66b001;
  color: #66b001;
}
.item:nth-child(16) { 
  background: #ffffff url(assets/StarSwirl.png) center no-repeat;
  background-size: 95%;
  box-shadow: inset 0 0 0 10px #e74c9a;
  color: #e74c9a;
}
.item:nth-child(17) { 
  background: #e389a5 url(assets/SweetSummertime.png) center no-repeat;
  background-size: 95%;
  box-shadow: inset 0 0 0 10px #1b82a1;
  color: #1b82a1;
  font-size: 20px;
}
.item:nth-child(18) { 
  background: #a0c6af url(assets/WinterSnow.png) center no-repeat;
  background-size: 95%;
  box-shadow: inset 0 0 0 10px #f3eded;
  color: #f3eded;
}
.item:nth-child(19) { 
  background: #ec97c0 url(assets/DazzleSurprise.png) center no-repeat;
  background-size: 85%;
  box-shadow: inset 0 0 0 10px #732b97;
  color: #732b97;
  font-size: 25px;
}
.item:nth-child(even) { 
  transform: scaleX(1.03) rotateY(9deg); 
}
.item:nth-child(odd) { 
  transform: scaleX(1.03) rotateY(-9deg); 
}
.item:active { 
  transform: scaleX(1.5) scaleY(1.3) rotateY(0deg); 
  position: relative;
  z-index: +1;
}
.item:nth-child(13):active { 
  background: #ffffff url(assets/300px-AutumnSkyeBackcard.jpg) center bottom no-repeat;
  background-size: 100%;
  box-shadow: inset 0 0 0 10px #e2d587;
  color: transparent;
}